<div class="container">
    <div class="row">
        <div class="col">
            <p><b>Question:</b> {{question}} </p>
            <p><b>Answer:</b> {{answer}}</p>
        </div>
    </div>
    <div class="row">
        <div><b>Sources: </b></div>
        {% for title, url in sources.items() %}
            <div>
                <a class="link-offset-2 text-dark" href="{{url}}">{{title}}</a>
            </div>
        {% endfor %}
    </div>
    <div class="my-4 text-center">
        <button type="button" class="button-custom w-25">
            <a href="/app" class="text-light">Back</a>
        </button>
    </div>
</div>